# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# IDE configuration
.idea/

# Build package
build
dist
stgen.egg-info

# Compile ready tasks
output.xml

# Gramma for logic equation
parser.out
parsetab.py
